@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
@if (Model.ShowWeatherForecast)
{
    <div class="row">
        <div class="col-md-12">
            <div class="alert alert-info" role="alert">
                <h4>@Model.ForecastSectionTitle</h4>
                <p>@Model.WeatherDescription</p>
            </div>
        </div>
    </div>
}